body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    width: 100%;
    max-width: 450px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 94%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 8px;
    margin-bottom: 15px;
}

button {
    max-width: 100px;
    width: 100%;
    padding: 12px;
    background: #f04343;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #d14563;
}

.result {
    margin-top: 20px;
    font-size: 17px;
}

.hidden {
    display: none;
}